{% extends "base.html" %}

{% block title %}
Kids | Rango Shopping
{% endblock %}


{% block content %}


<section class="kids">

<div class="kids-content">

<h1>
Kids Luxury Collection
</h1>

<p>
Comfort • Style • Premium Kids Fashion
</p>

</div>

</section>


<section>

<section class="find-choice" id="find-choice">

<div class="section-header">

<h2>FIND YOUR CHOICE</h2>

<a href="#">SEE MORE</a>

</div>


<div class="choice-grid">

<!-- =========================
KIDS CATEGORIES (PART 1)
========================= -->

<!-- T-SHIRTS -->

<a href="/kids-tshirts" class="choice-card">

<img src="https://i.pinimg.com/736x/53/04/2a/53042abf87f129aded77afb46c3821a2.jpg" alt="Kids T-Shirts">

<h3>T-Shirts</h3>

<p>Comfortable Everyday T-Shirts</p>

</a>


<!-- SHIRTS -->

<a href="/kids-shirts" class="choice-card">

<img src="https://i.pinimg.com/736x/22/c0/6d/22c06d84e370e775e63e6f8b9f55ca14.jpg" alt="Kids Shirts">

<h3>Shirts</h3>

<p>Stylish Party Shirts</p>

</a>


<!-- JEANS -->

<a href="/kids-jeans" class="choice-card">

<img src="https://i.pinimg.com/736x/bb/6b/4f/bb6b4fa49dbf50560b8d86dde5b355fd.jpg" alt="Kids Jeans">

<h3>Jeans</h3>

<p>Premium Denim Collection</p>

</a>


<!-- JACKETS -->

<a href="/kids-jackets" class="choice-card">

<img src="https://i.pinimg.com/736x/93/00/9a/93009a5054133d87bec7da49a91ab51e.jpg" alt="Kids Jackets">

<h3>Jackets</h3>

<p>Warm & Stylish Jackets</p>

</a>


<!-- SHOES -->

<a href="/kids-shoes" class="choice-card">

<img src="https://i.pinimg.com/736x/2d/f6/0f/2df60f4eac52422ec6c349496028ccfd.jpg" alt="Kids Shoes">

<h3>Shoes</h3>

<p>Running & Casual Shoes</p>

</a>

<!-- =========================
KIDS CATEGORIES (PART 2)
========================= -->

<!-- WATCHES -->

<a href="/kids-watches" class="choice-card">

<img src="https://i.pinimg.com/736x/60/2a/58/602a5833fb70407a8952f78683833ee7.jpg" alt="Kids Watches">

<h3>Watches</h3>

<p>Stylish Kids Watches</p>

</a>


<!-- BACKPACKS -->

<a href="/kids-backpacks" class="choice-card">

<img src="https://i.pinimg.com/736x/4c/c2/1c/4cc21cce8db2c4cd9ecf2b30b68d68d2.jpg" alt="Kids Backpacks">

<h3>Backpacks</h3>

<p>School & Travel Bags</p>

</a>


<!-- TOYS -->

<a href="/kids-toys" class="choice-card">

<img src="https://i.pinimg.com/736x/0f/a0/10/0fa0104c10e6576ea6fb927d1fcb3c5a.jpg" alt="Kids Toys">

<h3>Toys</h3>

<p>Fun Learning Toys</p>

</a>


<!-- ACCESSORIES -->

<a href="/kids-accessories" class="choice-card">

<img src="https://i.pinimg.com/736x/d2/ea/7e/d2ea7e5488ce373b4d9919cca55a0620.jpg" alt="Kids Accessories">

<h3>Accessories</h3>

<p>Caps, Belts & More</p>

</a>


<!-- OFFERS -->

<a href="/kids-sunglasses" class="choice-card">

<img src="https://i.pinimg.com/736x/52/86/7e/52867e577b84e44745b5a0daa73a7c5c.jpg" alt="sunglasses">

<h3>sunglasses & caps </h3>

<p>sunglasses & caps</p>

</a>

</div>

</section>

</section>



{% endblock %}