{% extends "base.html" %}

{% block title %}
Men | Rango Shopping
{% endblock %}


{% block content %}


<section class="man">

<div class="man-content">
    
 
<h1>
Men's Luxury Collection
</h1>

<p>
Premium Fashion • Elegant Style • Modern Lifestyle
</p>

</div>

</section>





<section>


<!-- =========================
FIND YOUR CHOICE
========================= -->

<section class="find-choice" id="find-choice">

<div class="section-header">

<h2>FIND YOUR CHOICE</h2>

<a href="#">SEE MORE</a>

</div>


<div class="choice-grid">




<a href="/Men-fashion" class="choice-card">

<img src="https://i.pinimg.com/736x/95/ff/7f/95ff7fe937c869abfc53f0ddb963f7a3.jpg">

<h3>Men's Fashion</h3>

<p>Premium clothes</p>

</a>


<a href="/lower-fashion" class="choice-card">

<img src="https://i.pinimg.com/736x/3c/d3/d2/3cd3d213ca010b6cad0469fd4fa2f8fb.jpg">

<h3>Shop by brands</h3>

<p>Premium clothes</p>

</a>


<a href="/tshirts" class="choice-card">

<img src="https://i.pinimg.com/736x/d1/b8/db/d1b8db0379f035dc950ece4ea1a5fc19.jpg">

<h3>T-shirts</h3>

<p>Premium style</p>

</a>


<a href="/shirts" class="choice-card">

<img src="https://i.pinimg.com/736x/3b/cc/ae/3bccae15e514c163642e947df7cb7e38.jpg">

<h3>Shirts</h3>

<p>Premium brands Shirts</p>

</a>



<a href="/jeans" class="choice-card">

<img src="https://i.pinimg.com/736x/48/c0/f1/48c0f1c942155b5919908417b230ec60.jpg">

<h3>Jeans Fashion</h3>

<p>Premium brands Jeans</p>

</a>


<a href="/jackets" class="choice-card">

<img src="https://i.pinimg.com/736x/45/2a/79/452a7931329b004bc8f5b290bc1c2aed.jpg">

<h3>Jackects</h3>

<p>Premium Leather Jackets</p>

</a>

<!-- SHOES -->

<a href="/shoes" class="choice-card">

<img src="https://i.pinimg.com/736x/bb/02/63/bb02639ed5328d26d4057ed74cba6d01.jpg">

<h3>Shoes</h3>

<p>Premium Sneakers & Sports Shoes</p>

</a>




<!-- WATCHES -->

<a href="/watches" class="choice-card">

<img src="https://i.pinimg.com/736x/46/c1/ca/46c1ca4aaa247e242120a89823e042c5.jpg">

<h3>Watches</h3>

<p>Luxury Timepieces</p>

</a>

<!-- BAGS -->

<a href="/wallet-belts" class="choice-card">

<img src="https://i.pinimg.com/736x/41/ae/46/41ae46aec1645370d4b25ede9a15af08.jpg" alt="Bags">

<h3>Wallet & Belts</h3>

<p>Luxury Leather Wallet & Belts</p>

</a>


<!-- PERFUMES -->

<a href="/perfumes" class="choice-card">

<img src="https://i.pinimg.com/736x/cc/b0/0d/ccb00d3e8ab539036229b42e89517cef.jpg" alt="Perfumes">

<h3>Perfumes</h3>

<p>Premium Fragrances</p>

</a>


<!-- SUNGLASSES -->

<a href="/sunglasses" class="choice-card">

<img src="https://images.unsplash.com/photo-1511499767150-a48a237f0083?auto=format&fit=crop&w=700&q=80" alt="Sunglasses">

<h3>Sunglasses</h3>

<p>Luxury Eyewear</p>

</a>


<a href="/jewellery" class="choice-card">

<img src="https://i.pinimg.com/736x/94/80/da/9480da176bd396faa7452c26b83e481d.jpg" alt="men-jwellery">

<h3>men's rings and Accessories</h3>

<p>primeuim men's jwellery</p>

</a>

</div>




</section>




</section>



{% endblock %}