{% extends "base.html" %}

{% block title %}
{{ product['name'] }} | Rango Shopping
{% endblock %}


{% block content %}



<section>


<div class="product-detail">


<div class="product-image">


<img src="{{ url_for('static', filename='images/products/' + product['image']) }}"
alt="{{ product['name'] }}">


</div>




<div class="product-info">


<h1>
{{ product['name'] }}
</h1>



<p>
{{ product['description'] }}
</p>



<h2 class="price">
{{ product['price'] }}
</h2>



<p>

✔ Premium Quality

<br>

✔ Trusted Collection

<br>

✔ Luxury Experience

</p>




<a href="{{ product['affiliate_link'] }}" class="btn">
Buy Now
</a>


<a href="/wishlist" class="btn">
Wishlist
</a>



</div>


</div>


</section>




{% endblock %}