{% extends "base.html" %}

{% block title %}
Terms & Conditions | Rango Shopping
{% endblock %}


{% block content %}



<section class="hero">

<div class="hero-content">

<h1>
Terms & Conditions
</h1>

<p>
Rules and guidelines for using Rango Shopping.
</p>

</div>

</section>




<section>


<div class="product-card">

<div class="product-info">


<h2>
Terms Of Use
</h2>


<p>

By using Rango Shopping, you agree to follow these terms and conditions.

</p>


<br>


<h3>
Website Purpose
</h3>


<p>

Rango Shopping provides product discovery and affiliate links to help users find premium products.

</p>


<br>


<h3>
Product Information
</h3>


<p>

Product prices, availability and details may change according to partner websites.

</p>


<br>


<h3>
Affiliate Links
</h3>


<p>

Some links on this website may be affiliate links. This does not increase the price paid by customers.

</p>


<br>


<h3>
Contact
</h3>


<p>

For any questions:
<strong>
yamaanm291@gmail.com
</strong>

</p>



</div>

</div>



</section>



{% endblock %}